body {
  background-color: black;
  color: white;
}

#boxes {
  min-height: 76px;
}

#boxes div, #favorites {
  cursor: pointer;
}

#boxes div, #favorites div {
  display: inline-block;
  margin: 8px;
  height: 56px;
  width: 56px;
}

.selected {
  height: 44px !important;
  width: 44px !important;
  border: 6px dashed white;
}

#favorites {
  border: 5px solid white;
  border-radius: 12px;
  min-height: 72px;
  font-family: monospace;
}